@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import "tailwindcss";

body {
  background-image: url('/bg.jpg');
  background-size: cover;          /* Cover whole screen */
  background-position: center;     /* Center the image */
  background-repeat: no-repeat;    /* Don’t tile */
  background-attachment: fixed; 

  font-family: var(--font-dm-sans), sans-serif;
}